<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj studenta</title>
    <link rel="stylesheet" th:href="@{/templates/styles.css}">
</head>
<body>
<!--używając standardowych znaczników html definiujemy metodę z jaką zostanie wywołane żądanie przy zatwierdzaniu formularza, metoda ta musi odpowiadać tej zdefiniowanej w kontrolerze
 akcję z kolei definujemy przy pomocy thymeleafowego znacznika th:action i konwencji @{} - do rozwiązania adresu żądania
 znacznik th:object jest definicją obiektu, z którego będziemy korzystać w naszym formularzu, pozwoli nam to odwoływać się do jego popertisów bezpośrednio, bez konieczności umieszczanie 'student.' przed nazwą propertisu
 nazwa obiektu w znaczniku th:object musi odpowiadać tej dodanej do modelu w kontrolerze-->
<form method="POST" th:action="@{/students-page}" th:object="${student}">
    <label>
        Name
        <input id="name-input" required type="text" th:field="*{name}"/>
    </label><hr>
    <label>
        Tryb
        <select id="Tryb-input" name="Tryb" th:field="*{Tryb}">
            <option th:each="Tryb : ${T(com.example.monday.data.Tryb).values()}"
                    th:value="${Tryb}" th:text="${Tryb}">
            </option>
      R  </select>
    </label><hr>
    <label>
        Unit
        <select id="unit-input" name="unit" th:field="*{unit}">
            <option th:each="studentUnit : ${T(com.example.monday.data.StudentUnit).values()}"
                    th:value="${studentUnit}" th:text="${studentUnit}">

            </option>
        </select>
    </label><hr>
    <label>
        ErasmusStatus
        <input id="ErasmusStatus-input" required type="number" th:field="*{ErasmusStatus}"/>
    </label><hr>
    <button type="submit">Dodaj</button>
</form>

</body>
</html>