<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/templates/styles.css}"  type="text/css">
</head>
<body>
<p data-test="hello-message" th:text="'Spis studentów PJATK'"></p>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Imie</th>
        <th>Oddział</th>
        <th>Tryb Nauczania</th>
        <th>Stan Erasmusa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">

        <td th:text="${student.index}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.unit}"></td>
        <td th:text="${student.Tryb}"></td>
        <td th:text="${student.ErasmusStatus}"></td>
    </tr>
    </tbody>
</table><hr>
<h4>MENU AKCJI:</h4>
<a th:href="@{/students-page/add}">Dodaj Studenta</a><br>
<a th:href="@{/students-page/byTryb}">Wyszukaj Studenta po Trybie Nauczania</a><br>
<a th:href="@{/students-page/byErasmusStatus}">Wyszukaj Studenta po Uczestnictwie w Erasmusie</a><br>
<a th:href="@{/students-page/searchStudent}">Edytuj Studenta</a><br>
<footer th:insert="footer.html"></footer>
</body>
</html>
